<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.huddar_p.navtrial1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/application_logo"
        android:label="XoЯRunners"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:label="XoЯRunners"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".bmi_activity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name=".pedometer_activity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".hiit_activity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".TimerClass"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>

        <service android:name=".MyService" />
    </application>

</manifest>